.skill-container {
	width: 100px;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-bottom: 20px;
}
.skill-name {
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	color: var(--headerDescriptionColor);
}
.skill-image {
	width: 50px;
}
