$skillNameColor: #97a1cc;
.skill {
	width: 100px;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin-bottom: 20px;

	&__name {
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		color: $skillNameColor;
	}
	&__image {
		width: 50px;
	}
}
