@import '../../mixins.scss';
@import '../../variables.scss';
.services {
	width: 100%;
	height: 100%;
	background-color: $darkPurpleBackground;
	&__container {
		&__cards {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@include bp(tablet) {
				flex-direction: row;
			}
		}
	}
}
