.section-featured-projects {
	width: 100%;
	height: 100%;
	background-color: var(--darkPurpleBackground);
}

.featured-projects-header-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 50px;
}
.featured-project-sources-buttons {
	display: flex;
}
