@import '../../variables.scss';
.skills {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $lightPurpleBackground;

	&__icons {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
