@import '../../mixins.scss';
$backgroundColor: #091b2f;

.section-about-me {
	background-color: $backgroundColor;
	display: flex;
	flex-direction: column;
	padding: 100px 40px;
	position: relative;
	.about-me-illustration {
		width: 100%;
		height: 500px;
		background-image: url('../../assets/images/headerIllustration.jpg');
		background-size: cover;
	}

	.about-me-text-container {
		width: 100%;
		.about-me-text {
			margin-top: 40px;
			.about-text {
				font-weight: 200;
				color: #c0c3e6;
				text-align: center;
			}
		}
	}

	@include bp(tablet) {
		flex-direction: row;
		padding: 0;
		.about-me-illustration {
			height: 650px;
			flex-shrink: 1.2;
			background-position: 50%;
		}
		.about-me-text-container {
			padding: 0;
			flex-shrink: 1;
			.about-me-text {
				margin-top: 0;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 40px;
				.about-text {
					text-align: left;
				}
			}
		}
	}
}
