.about-active {
	display: flex;
}
.about-inactive {
	display: none;
}
.section-about-me {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--lightPurpleBackground);
}

.about-info-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.about-img-info-container {
	position: relative;
}
.about-img-person {
	width: 100%;
}

.about-headers-container {
	position: absolute;
	width: 100%;
	bottom: -20px;
	align-items: center;
	flex-direction: column;
}

.about-upper-header {
	font-weight: 500;
	letter-spacing: 1.3px;
	color: var(--lightRedColor);
}
.about-lower-header {
	font-weight: 400;
	letter-spacing: 1.3px;
	font-size: 40px;
	color: white;
}

.about-text {
	width: 100%;
	margin: 50px auto 20px auto;
	font-weight: 200;
	font-size: 14px;
	text-align: center;
	color: var(--lightPurpleColor);
}
.about-icons {
	width: 100%;
	justify-content: center;
	font-size: 30px;
}

@media (min-width: 769px) {
	.about-active {
		display: none;
	}
	.about-inactive {
		display: flex;
	}

	.about-info-container {
		flex-direction: row;
	}
	.about-text {
		text-align: left;
	}

	.about-headers-container {
		align-items: flex-start;
		position: relative;
	}
	.about-img-person {
		width: 20vw;
		max-width: 300px;
	}
	.about-img-info-container {
		margin-right: 100px;
	}
	.about-icons {
		position: absolute;
		bottom: -5px;
	}
}
