/* .section-contact-me {
	background-color: var(--lightPurpleBackground);
}
.contact-bottom-container {
	display: flex;
	flex-direction: column;
}

.contact-element {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	align-items: center;
	background-color: #0a2647;
	color: white;
}
.contact-element:nth-child(n) {
	margin-bottom: 30px;
}

.contact-element h3 {
	margin-bottom: 10px;
}
.contact-element h4 {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 300;
}
.contact-element a {
	text-decoration: none;
	font-weight: 500;
	color: var(--lightPurpleColor);
}

.contact-form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contact-form input,
textarea {
	padding: 20px;
	background: transparent;
	color: white;
	border: 2px solid rgb(105, 87, 144);
	margin-bottom: 20px;
}
.contact-form input::placeholder,
textarea::placeholder {
	font-weight: 300;
	color: rgb(105, 87, 144);
}
textarea:focus,
input:focus {
	outline: none;
}

@media (min-width: 769px) {
	.contact-bottom-container {
		flex-direction: row;
		justify-content: space-between;
	}
	.contact-right-side {
		margin-left: 50px;
		width: 100%;
	}
	.contact-element:nth-child(1) {
		margin-bottom: 30px;
	}
	.contact-element:nth-child(2) {
		margin-bottom: 0;
	}
	.contact-form input,
	textarea {
		margin-bottom: 0;
	}
} */
