.btns {
	padding: 8px 10px;
	font-weight: 300;
	letter-spacing: 1px;
	color: white;
	background-color: transparent;
	text-decoration: none;
	transition: ease all 0.3s;
}

.btn-hire-me {
	margin-right: 30px;
	border: 2px solid var(--lightBlueColor);
	box-shadow: 0 0 7px 1px var(--lightBlueColor);
}

.btn-download-cv {
	border: 2px solid var(--lightRedColor);
	box-shadow: 0 0 7px 1px var(--lightRedColor);
}

.btn-view-all {
	background-color: var(--darkRedColor);
	font-weight: 400;
	padding: 12px;
}
.btn-download-cv:hover,
.btn-hire-me:hover {
	color: white;
	font-weight: 300;
}

.btn-demo {
	background-color: var(--lightBlueColor);
}
.btn-github {
	background-color: rgb(85, 139, 105);
}

.btn-demo,
.btn-github {
	font-weight: 500;
	font-size: 14px;
	padding: 6px;
	margin: 10px;
	border-radius: 5px;
	text-decoration: none;
	transition: ease all 0.3s;
	transform: scale(1);
}
.btn-demo:hover,
.btn-github:hover {
	color: white;
}

.btn-demo,
.btn-github,
.btn-view-all {
	border: none;
}

.btn-submit {
	margin-top: 30px;
	background-color: var(--lightRedColor);
	border: none;
	color: white;
	transition: ease all 0.3s;
}
.btn-submit:hover {
	background-color: var(--darkRedColor);
	color: white;
}

@media (min-width: 768px) {
	.btn-demo:hover,
	.btn-github:hover {
		transform: scale(1.1);
	}
}
