@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;700;800&display=swap');

:root {
	--darkBlueColor: #110c3f;
	--darkRedColor: #950d32;
	--lightBlueColor: #5397db;
	--lightRedColor: #ef2958;
	--lightPurpleColor: #9d98c4;

	--headerTitleColor: #ffffff;
	--headerPositionColor: #cbd3f4;
	--headerDescriptionColor: #97a1cc;

	--sectionAboutBackground: #17133b;

	--sectionAboutWidth: 300px;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.btn {
	font-family: 'Montserrat', sans-serif;
}

.btn,
.ic {
	cursor: pointer;
}
.ic {
	color: var(--lightRedColor);
	transition: color 0.3s ease;
}
.ic:hover {
	color: white;
}
.wrapper {
	max-width: 1200px;
	padding: 0 20px;
}
