@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--darkBlueColor: #110c3f;
	--darkRedColor: #950d32;
	--lightBlueColor: #5397db;
	--lightRedColor: #ef2958;
	--lightPurpleColor: #9d98c4;
	--veryDarkPurpleColor: #0b062b;
	--veryLightPurpleColor: #241e4b;
	--shadowColor: rgb(10, 10, 62);

	--lightPurpleBackground: #1b1543;
	--darkPurpleBackground: #17123c;

	--headerTitleColor: #ffffff;
	--headerPositionColor: #cbd3f4;
	--headerDescriptionColor: #97a1cc;

	--sectionAboutWidth: 300px;

	--servicesColumnColor: #221b52;

	--footerColor: rgb(53, 45, 126);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

.btns {
	font-family: 'Montserrat', sans-serif;
}

.btns,
.ic {
	cursor: pointer;
}

.ic {
	color: var(--lightRedColor);
	transition: color 0.3s ease;
}
.ic:hover {
	color: rgb(127, 93, 239);
}
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 40px;
}
