.blob-container .blob {
	position: absolute;
	transform: translate(0, -50%);
	transition: ease all 1s;
	z-index: 4;
}

.blob-container .blob:nth-child(2) {
	filter: blur(5px);
}

.blob-container:nth-child(1) .blob {
	width: 110px;
	right: 60%;
	bottom: 290px;
}

.blob-container:nth-child(2) .blob {
	width: 40px;
	right: 89%;
	bottom: 300px;
}

.blob-container:nth-child(3) .blob {
	width: 120px;
	right: 65%;
	bottom: 350px;
}

.blob-container:nth-child(4) .blob {
	width: 70px;
	right: 83%;
	bottom: 220px;
}

.blob-container:nth-child(5) .blob {
	display: flex;
	width: 100px;
	left: -50%;
	bottom: 270px;
}

.blob-container:nth-child(6) .blob {
	display: flex;
	width: 80px;
	left: -20%;
	bottom: 320px;
}

.blob-container:nth-child(7) .blob {
	display: flex;
	width: 60px;
	left: -50%;
	bottom: 35%;
}

@media (min-width: 481px) {
	.blob-container:nth-child(2) .blob {
		width: 45px;
		right: 72%;
		bottom: 260px;
	}
	.blob-container:nth-child(4) .blob {
		width: 80px;
		right: 80%;
		bottom: 220px;
	}
	.blob-container:nth-child(5) .blob {
		display: flex;
		width: 120px;
		left: 5%;
		bottom: 280px;
	}
}

@media (min-width: 768px) {
	.blob-container:nth-child(6) .blob {
		display: flex;
		left: 16%;
	}
	.blob-container:nth-child(5) .blob {
		width: 70px;
		bottom: 340px;
	}
}

@media (min-width: 1025px) {
	.blob-container:nth-child(1) .blob {
		width: 170px;
		right: 63%;
		bottom: 50%;
	}
	.blob-container:nth-child(2) .blob {
		width: 50px;
		left: 16%;
		bottom: 50%;
	}
	.blob-container:nth-child(3) .blob {
		width: 180px;
		right: 62%;
		bottom: 31%;
		z-index: 1;
	}
	.blob-container:nth-child(4) .blob {
		width: 110px;
		left: 5%;
		bottom: 40%;
	}
	.blob-container:nth-child(5) .blob {
		width: 160px;
		left: 6%;
		bottom: 50%;
	}
	.blob-container:nth-child(6) .blob {
		width: 80px;
		left: 16%;
		bottom: 38%;
	}
	.blob-container:nth-child(7) .blob {
		left: 10%;
	}
}
